.sign-up__header {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 1px;
  margin-top: 100px;
}

.sign-up__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

.form__input {
  width: 400px;
  outline: 0;
  border-color: #14142b;
  border-width: 0 0 1px;
  font-size: 24px;
  line-height: 34px;
}

.form__label {
  margin-right: auto;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 1px;

  color: #6e7191;
}

.isAdmin-container {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1px;
  margin-top: 24px;
}

#is-admin {
  margin-right: 12px;
}

.form__button {
  width: 135px;
  height: 56px;
  margin-top: 70px;
  border: none;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  background: #eff0f6;
  border-radius: 12px;
}

.sign-in-button {
  display: block;
  width: 115px;
  height: 46px;
  margin-top: 30px;
  border: none;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  background: #eff0f6;
  border-radius: 10px;
}
